<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdd.dao.PddDao">
	
	<!-- <resultMap type="com.heima.pojo.User" id="resultMap">
        <result property="id" column="id" javaType="int" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="string" jdbcType="VARCHAR"/>
        <result property="age" column="age" javaType="string" jdbcType="VARCHAR"/>
    </resultMap> -->
    
   
  
  <insert id="add" parameterType="goodinfo">
     insert into goodinfo (cat_name,cat_id) values(#{cat_name},#{cat_id})
  </insert>
  
   <select id="queryList" resultType="goodinfo">
    select * from goodinfo
  </select>
</mapper>